
<!-- Page content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-11 card mt-5 p-5">

      <!-- Title -->
      <div class="card-dark card-title">
        <h3><i class="fas fa-list"></i> Matchs du tournoi <span class="bold">{{id}}</span></h3>
      </div>
      <!-- End title -->

      <!-- Inputs -->
      <div class="remove-margins">

        <div class="row">

          <div *ngFor="let game of games" class="col-md-6 col-12 mb-3">
            <a routerLink="/match/{{game.EquipeA}}/{{game.EquipeB}}"><div class="bg-dark card tournament-card">
              <div class="p-4">
                <h4>{{game.EquipeA}} - {{game.EquipeB}}</h4>
                <h2>{{game.sport}}</h2>
                <i class="fas fa-eye"></i>
              </div>
            </div>
          </a>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="form-group mb-4 col-lg-6 col-12">
          <label for="equipeA" class="mb-2"><span class="required">*</span>Equipe A</label>
          <input type="text" class="form-control" [(ngModel)]="equipeA" name="equipeA" placeholder="Veuillez rentrer le nom de la premiere personne/equipe">
        </div>
        <div class="form-group mb-4 col-lg-6 col-12">
          <label for="equipeB" class="mb-2"><span class="required">*</span>Equipe B</label>
          <input type="text" class="form-control" [(ngModel)]="equipeB" name="equipeB" placeholder="Veuillez rentrer le nom de la deuxieme personne/equipe">
        </div>
        <div class="row justify-content-center mt-5">
          <div class="text-center">
            <button class="yellow-btn mb-3" (click)="createGame()">Créer un match <i class="fas fa-arrow-circle-right"></i></button>
            <!--<button class="yellow-btn">Rejoindre un tournoi <i class="fas fa-arrow-circle-right"></i></button>-->
          </div>
        </div>
      </div>
      <!-- End inputs -->
    </div>
  </div>
</div>
<!-- End page content -->
