

<!-- Page content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-11 card mt-5 p-5">

      <!-- Title -->
      <div class="card-dark card-title">
        <h3><i class="fas fa-list"></i> Liste des <span class="bold">tournois</span></h3>
      </div>
      <!-- End title -->

      <!-- Inputs -->
      <div class="remove-margins">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder="Chercher un tournoi">


        <div class="row">
          <!-- Tournament 1 -->
          <div *ngFor="let tournament of tournaments | filter:searchText" class="col-md-6 col-12 mb-3">
            <div class="bg-dark card tournament-card">
              <a routerLink="/display-tournament/{{tournament}}">
              <div class="p-4">
                <h4>{{tournament}}</h4>
                <i class="fas fa-eye"></i>
              </div>
            </a>
            </div>
          </div>
          <!-- End tournament 1 -->
        </div>


        <!-- Line 3 -->
        
        <div class="row justify-content-center mt-5">
          <div class="text-center">
            <a routerLink="/creation-tournament"><button class="yellow-btn mb-3">Créer un tournoi <i class="fas fa-arrow-circle-right"></i></button></a>
            <!--<button class="yellow-btn">Rejoindre un tournoi <i class="fas fa-arrow-circle-right"></i></button>-->
          </div>
        </div>
        <!-- End line 3 -->

      </div>
      <!-- End inputs -->
    </div>
  </div>
</div>
<!-- End page content -->
