

<!-- Header -->
<div class="nav">
  <h2 id="logo">Multisports</h2>
</div>
<!-- End Header -->

<!-- Page content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-11 card mt-5 p-5">

      <!-- Title -->
      <div class="card-dark card-title">
        <h3><i class="fas fa-list"></i> Liste des <span class="bold">tournois</span></h3>
      </div>
      <!-- End title -->

      <!-- Inputs -->
      <div class="remove-margins">


        <div class="row">

          <!-- Tournament 1 -->
          <div class="col-md-6 col-12 mb-3">
            <div class="bg-dark card tournament-card">
              <a routerLink="/display-tournament">
              <div class="p-4">
                <h4>Tournoi de l'IMT</h4>
                <small>Quarts de finale</small>
                <i class="fas fa-eye"></i>
              </div>
            </a>
            </div>
          </div>
          <!-- End tournament 1 -->

          <!-- Tournament 2 -->
          <div class="col-md-6 col-12 mb-3">
            <div class="bg-dark card tournament-card">
              <div class="p-4">
                <h4>LEC</h4>
                <small>Finale</small>
                <i class="fas fa-eye"></i>
              </div>
            </div>
          </div>
          <!-- End tournament 2 -->

          <!-- Tournament 3 -->
          <div class="col-md-6 col-12 mb-3">
            <div class="bg-dark card tournament-card">
              <div class="p-4">
                <h4>Test</h4>
                <small>Phase de poules</small>
                <i class="fas fa-eye"></i>
              </div>
            </div>
          </div>
          <!-- End tournament 3 -->

        </div>


        <!-- Line 3 -->
        
        <div class="row justify-content-center mt-5">
          <div class="text-center">
            <a routerLink="/creation-tournament"><button class="yellow-btn mb-3">Créer un tournoi <i class="fas fa-arrow-circle-right"></i></button></a>
            <!--<button class="yellow-btn">Rejoindre un tournoi <i class="fas fa-arrow-circle-right"></i></button>-->
          </div>
        </div>
        <!-- End line 3 -->

      </div>
      <!-- End inputs -->
    </div>
  </div>
</div>
<!-- End page content -->
