
<!-- Page content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-11 card mt-5 p-5">

      <!-- Title -->
      <div class="card-dark card-title">
        <h3><i class="fas fa-plus-circle"></i> Créer un <span class="bold">tournoi</span></h3><small>Étape 1 sur 2</small>
      </div>
      <!-- End title -->

      <!-- Inputs -->
      <div class="remove-margins">
        <!-- Line 1 -->
        <div class="row">
          <!-- Tournament name -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="tournament_name" class="mb-2"><span class="required">*</span> Nom du tournoi</label>
            <input type="text" class="form-control" [(ngModel)]="tournament_name" name="tournament_name" placeholder="Veuillez rentrer le nom du tournoi">
          </div>
          <!-- End tournament name -->
          <!-- Tournament sport -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="tournament_sport" class="mb-2"><span class="required">*</span> Sport</label>
            <select name="tournament_sport" [(ngModel)]="tournament_sport" class="form-control">
              <option value="-1" disabled>Veuillez choisir un sport</option>
              <option value="BADMINTON">Badminton</option>
            </select>
          </div>
          <!-- End tournament sport -->
        </div>
        <!-- End line 1 -->
        <!-- Line 3 -->
        <div class="row justify-content-center mt-5">
          <div class="text-center">
            <a routerLink="/tournament-home"><button (click)="onSubmit()" class="yellow-btn">Étape suivante <i class="fas fa-arrow-circle-right"></i></button></a>
            <small class="d-block mt-3">Annuler la création</small>

          </div>
        </div>
        <!-- End line 3 -->

      </div>
      <!-- End inputs -->
    </div>
  </div>
</div>

<!-- End page content -->
