
<!-- Header -->
<div class="nav">
  <h2 id="logo">Multisports</h2>
</div>
<!-- End Header -->
<!-- Page content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-11 card mt-5 p-5">

      <!-- Title -->
      <div class="card-dark card-title">
        <h3><i class="fas fa-plus-circle"></i> Créer un <span class="bold">tournoi</span></h3><small>Étape 1 sur 2</small>
      </div>
      <!-- End title -->

      <!-- Inputs -->
      <div class="remove-margins">
        <!-- Line 1 -->
        <div class="row">
          <!-- Tournament name -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="tournament_name" class="mb-2"><span class="required">*</span> Nom du tournoi</label>
            <input type="text" class="form-control" id="tournament_name" name="tournament_name" placeholder="Veuillez rentrer le nom du tournoi">
          </div>
          <!-- End tournament name -->
          <!-- Tournament sport -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="tournament_sport" class="mb-2"><span class="required">*</span> Sport</label>
            <select name="tournament_sport" id="tournament_sport" class="form-control">
              <option value="-1">Veuillez choisir un sport</option>
              <option value="1">Escrime</option>
              <option value="2">Judo</option>
              <option value="3">Karaté</option>
              <option value="4">Curling sur gazon</option>
              <option value="5">Sieste</option>
            </select>
          </div>
          <!-- End tournament sport -->
        </div>
        <!-- End line 1 -->

        <!-- Line 2 -->
        <div class="row">
          <!-- Tournament format -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="tournament_format" class="mb-2"><span class="required">*</span> Nombre de sets</label>
            <select [(ngModel)]="setNumber" name="setNumber" id="tournament_format" class="form-control">
              <option value="-1">Veuillez choisir un nombre de sets</option>
              <option value="2">1</option>
              <option value="1">3</option>
              <option value="1">5</option>
            </select>
          </div>
          <!-- End tournament format -->
          <!-- Tournament player/team number -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="tournament_number" class="mb-2"><span class="required">*</span> Nombre de points</label>
            <select [(ngModel)]="points" name="setNumber" id="tournament_number" class="form-control">
              <option value="-1">Veuillez choisir un nombre de sets</option>
              <option value="2">1</option>
              <option value="1">3</option>
              <option value="1">5</option>
            </select>
          </div>
          <!-- End tournament player/team number -->
        </div>
        <!-- End line 2 -->

        <!-- Line 3 -->
        <div class="row justify-content-center mt-5">
          <div class="text-center">
            <a routerLink="/match"><button (click)="onSubmit()" class="yellow-btn">Étape suivante <i class="fas fa-arrow-circle-right"></i></button></a>
            <small class="d-block mt-3">Annuler la création</small>

          </div>
        </div>
        <!-- End line 3 -->

      </div>
      <!-- End inputs -->
    </div>
  </div>
</div>

<!-- End page content -->
