<!-- Page content -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12 col-11 card mt-5 p-5 bg-dark">

      <div class="row">
        <div class="col-md-6 col-12 text-center">
          <img src="../img/sport.svg" alt="Multisports" id="sport-img">
        </div>
        <div class="col-md-6 col-12">
          <h3 class="text-center mt-3">Multisports</h3>
          <p class="text-center"><small>Rejoignez notre communauté et managez vos tournois !</small></p>
          <div class="text-center mt-5">
            <a routerLink="/tournament-home"><button class="yellow-btn">Accueil <i class="fas fa-sign-in-alt"></i></button></a>
          </div>
          <div class="text-center mt-3">
            <a routerLink="/all-matches"><button class="white-btn">Tous les matchs</button></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End page content -->