<!-- Header -->
<div class="nav">
  <h2 id="logo">Multisports</h2>
</div>
<!-- End Header -->
<!-- Page content -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-11 card mt-5 p-5">

      <!-- Title -->
      <div class="card-dark card-title">
        <h3><i class="fas fa-plus-circle"></i> Inscription </h3>
      </div>
      <!-- End title -->

      <!-- Inputs -->
      <div class="remove-margins">
        <!-- Line 1 -->
        <div class="row">
          <!-- Mail -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="mail" class="mb-2"><span class="required">*</span> Mail</label>
            <input type="text" class="form-control" id="mail" name="mail" placeholder="Veuillez rentrer votre adresse mail">
          </div>
          <!-- End mail -->
          <!-- Password -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="password" class="mb-2"><span class="required">*</span> Mot de passe</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Veuillez rentrer votre mot de passe">
          </div>
          <!-- End password -->
        </div>
        <!-- End line 1 -->

        <div class="row">
          <!-- Password confirmation -->
          <div class="form-group mb-4 col-lg-6 col-12">
            <label for="confirm_password" class="mb-2"><span class="required">*</span> Confirmer le mot de passe</label>
            <input type="text" class="form-control" id="confirm_password" name="confirm_password" placeholder="Veuillez confirmer votre mot de passe">
          </div>
          <!-- End password confirmation -->
        </div>
        <!-- End line 2 -->

        <!-- Line 3 -->
        <div class="row justify-content-center mt-5">
          <div class="text-center">
            <a routerLink="/tournament-home"><button (click)="onSubmit()" class="yellow-btn">Se connecter <i class="fas fa-arrow-circle-right"></i></button></a>
          </div>
        </div>
        <!-- End line 3 -->

      </div>
      <!-- End inputs -->
    </div>
  </div>
</div>

<!-- End page content -->
